.card-img-top {
  height: 100%;
  width: 100%;
}

.item {
  width: 163px;
}

.img {
  width: 60px;
}

.pink {
  background-color: #e21b70;
  color: white;
}

.pinkFont {
  color: #e21b70;
}

.d-flex {
  gap: 10px;
}

.margin-top {
  margin-top: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.navbar {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.btn {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.form-switch .form-check-input {
  height: 24px;
  width: 48px;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:focus {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:checked {
  background-color: #e21b70;
  border-color: #e21b70;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='rgba(255,255,255,1.0)'/></svg>");
}

.paddingU {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding {
  padding: 0.5rem;
}

/* StoreFront Page */
.cart {
  height: 100vh;
  width: 40%;
  float: left;
  padding: 1rem;
}

.cart-title {
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-price {
  position: relative;
  right: 0px;
}

.cart-item-quantity {
  display: flex;
  justify-content: space-between;
}

.cart-item-numbers {
  margin-left: 20px;
}

.cart-item-input {
  width: 40px;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-details-subtotal {
  display: flex;
  justify-content: space-between;
}

.cart-details-delivery-fee {
  display: flex;
  justify-content: space-between;
}

.cart-details-total {
  display: flex;
  justify-content: space-between;
}

.add-to-cart {
  position: absolute;
  bottom: 0.3rem;
  right: 1.5rem;
  width: 1px;
  cursor: pointer;
}

.popular-product {
  width: 60%;
  float: left;
}

.inline {
  display: inline-block;
}

.margin-left {
  margin-left: 0.25rem;
}

/* Checkout Page */
.checkout {
  display: grid;
  justify-content: center;
}

.checkout-page {
  display: flex;
  padding: 0.75rem;
  margin-top: 0.75rem;
  width: 654px;
}

.payment-method {
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem;
}

.radio-pink:checked {
  background-color: #e21b70;
  border: none;
}

.checkbox-pink:checked {
  background-color: #e21b70;
  border: none;
}

.cart-details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.dropdown {
  width: 50%;
}

/* OTP */
.otp {
  display: grid;
  justify-content: center;
}

.otp-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin-top: 0.75rem;
  width: 654px;
}

/* User Page */
.user-page {
  display: grid;
  justify-content: center;
}

.rop-component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin-top: 0.75rem;
  width: 654px;
}

.table {
  text-align: center;
  vertical-align: middle;
}
